body { background-color:#ffffff; }
h1 { font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-weight:normal; }
h1 a, #pagination a, .exposed-nav-wrapper li a, .sub-title, .search-header { color:#000000; }
#pagination a.next:after { border-left-color:#000000; }
#pagination a.previous:after { border-right-color:#000000; }
.h-line { background:#000000; }
a { color:#444444; }
.loader .loader-bar { background-color:#000000; }
.link-wrapper h2 a { background-color:#444444; }
.header-image { display:none; /*background-image: url({HeaderImage});*/ }
.user-avatar { background-color: #ffffff; border-color: #ffffff; }
.avatar-style-square .user-avatar { -wekbit-box-shadow: 0 0 0 4px #ffffff; -moz-box-shadow: 0 0 0 4px #ffffff; box-shadow: 0 0 0 4px #ffffff; }
.no-header-image .selector .bar-icon { background:#000000; }
.no-header-image .search-only .selector .icon { color:#000000; }

@media screen and (max-device-width: 568px) {
    .header-image { /*background-image: url({HeaderImage-1024});*/ display:none; }
    .nav-menu-bg, .nav-menu-wrapper .nav-menu.active:before, .nav-menu .pop-menu ul { background: #ffffff; }
    .nav-menu.active .selector .bar-icon, .below-header .selector .bar-icon { background:#000000; }
    .nav-menu .pop-menu ul li a, .below-header .search-only .selector .icon { color:#000000; }
    .avatar-style-square .user-avatar { -wekbit-box-shadow: 0 0 0 3px #ffffff; -moz-box-shadow: 0 0 0 3px #ffffff; box-shadow: 0 0 0 3px #ffffff; }
}