
.custom-thmb { position:relative; overflow:hidden; width:262px; height:262px; }
.custom-thmb img { position:absolute; visibility:hidden; top:0%; left:0%; width:auto; height:auto; border:none; z-index:0; }